<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="StorageConnectionString"
		  value="DefaultEndpointsProtocol=https;AccountName=jobalosb170fbb103;AccountKey=oxWIbMmnEeJ3hcpWEvQAR+nGYco2hPy7PTCRebaCJ5JwLcU4viT/eLLNpilMZ0joAoXT/8bdcN/t+AStSWKB6Q==;EndpointSuffix=core.windows.net" />
		<add key="StorageAccountName" value="jobalosb170fbb103" />
		<add key="StorageAccountKey" value="oxWIbMmnEeJ3hcpWEvQAR+nGYco2hPy7PTCRebaCJ5JwLcU4viT/eLLNpilMZ0joAoXT/8bdcN/t+AStSWKB6Q==" />
	</appSettings>
</configuration>